<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="My Test Suite" parallel="tests">
  <test name="My Test" parallel="methods" thread-count="1">
    <classes>
      <class name="BotAutomationProject.DreamHotelSuite.FirstTest" />
      <class name="BotAutomationProject.DreamHotelSuite.SecondTest" />
            <class name="BotAutomationProject.DreamHotelSuite.ThirdTest" />

    </classes>
  </test>
</suite>

